.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__ham-icon {
  cursor: pointer;
  z-index: 100;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.header__nav-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
}

.header__nav-ul {
  background-color: #fff;
  line-height: 2.5;
  width: 70%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}
