.swiper-slide__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 0.5rem;
  background-color: var(--very-light-gray);
}

.swiper-slide__avatar {
  width: 10rem;
}

.swiper-slide__title {
  color: var(--dark-blue);
  font-weight: 700;
}

.dot {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid var(--bright-red);
  margin: 0 0.2rem;
  cursor: pointer;
}

.dot--active {
  background-color: var(--bright-red);
}
